*.jiang linguist-language=Jiang linguist-detectable

build/** linguist-generated
dist/** linguist-generated
.jiang/cache/** linguist-generated
std/jiang/text/generated/** linguist-generated

script/** linguist-vendored
*.sh linguist-vendored
